.nav {
  border: #f5f5f5;
  background-color: #f5f5f5;
  padding: 3%;
}

.name {
  color: #bdbdbd;
  padding-top: 4%;
  font-weight: bold;
  font-size: 78px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.title {
  color: grey;
  padding-top: 1%;
  font-size: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  border: #f5f5f5 solid;
  margin: 0 470px;
}

.projects {
  padding: 20%;
  text-align: center;
}

.arrow {
  padding: 5%, 20%, 20%, 0%;
  /* display: flex;
  justify-content: center */
}
