
#menu a {
  text-decoration: none;
  color: black !important;
  
  transition: color 0.3s ease;
}

.navigation {
  position: absolute;
}

#menu a:hover {
  color: red !important;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

/* ----------------------------------------------------------------------------------------- */

.hero.hero-lg.--first  {
  background-color: black;
  height: 100vh;
}

.fa-github:before {
  color: red;
  /* display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  padding-top: 20px;
  padding-left: 7px; */

}

.fa-linkedin-square:before {
  padding-top: 7%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
}

.vl {
  border-left: 1px solid red;
  height: 400px;
  position: absolute;
  left: 10%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section.section--large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section a {
  color: red;
}

.section a:hover {
  color: red;
}

div.col-10 h1 {
  font-family: 'Source Code Pro', monospace;
  color: white;
  margin-left: 15%;
  margin-top: 10%;
  font-size: 70px;
  text-align: center;
}

.hero.hero-lg.--second {
  background-color: white;
  text-align: center;
  height: 100vh;
  padding: 0%;
}

.fa-play-circle-o:before {
  color:red;
}

div.hero.hero-lg.container.--second h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 60px;
  color: black;
  text-align: center;
}

div.hero.hero-lg.container.--second p {
  font-family: 'Source Code Pro', monospace;
  font-size: 25px;
  color: black;
  text-align: center;
  padding-top: 3%;
}

.JS {
  height: 30px;
  width: 30px;
  background-color: red;
}

.HTML {
  height: 50px;
  width: 60px;
  background-color: red;
}

.CSS {
  height: 50px; 
  width: 60px;
  background-color: red !important;
}

.line {
  border-left: 1px solid red;
  height: 40px;
  position: absolute;
  left: 10%;
}

.snake {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
 
.hero.hero-lg.--third {
  background-color: black;
  text-align: center;
  height: 100vh;
  padding: 0% !important;
}

div.hero.hero-lg.container.--third h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 60px;
  color: white;
  text-align: center;
}

div.hero.hero-lg.container.--third p {
  font-family: 'Source Code Pro', monospace;
  font-size: 25px;
  color: white;
  text-align: center;
  padding-top: 3%;
}

.api {
  background-color: red;
  height: 40px;
}

.quiz {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.hero.hero-lg.--fourth {
  text-align: center;
  background-color: white;
  height: 100vh;
  padding: 0%;
}

div.hero.hero-lg.container.--fourth h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 60px;
  color: black;
  text-align: center;
}

div.hero.hero-lg.container.--fourth p {
  font-family: 'Source Code Pro', monospace;
  font-size: 25px;
  color: black;
  text-align: center;
  padding-top: 3%;
}

.buddle {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.hero.hero-lg.--fifth {
  text-align: center;
  background-color: black;
  height: 100vh;
  padding: 0%;
}

div.hero.hero-lg.container.--fifth h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 60px;
  color: white;
  text-align: center;
}

div.hero.hero-lg.container.--fifth p {
  font-family: 'Source Code Pro', monospace;
  font-size: 25px;
  color: white;
  text-align: center;
  padding-top: 3%;
}

.history {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.icons {
  padding: 2px;
}

.flask {
    background-color: red;
    height: 40px;
}

.hero.hero-lg.--contact {
  background-color: white;
  height: 40vh;
  text-align: center;
  color: black;
  padding: 5%;
}

.icons {
  margin: 5px;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 60px;
  color: black;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  color: black;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid red;
  width: 90%; /* Could be more or less, depending on screen size */
  height: 60%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.9s
}

/* The Close Button */
.close {
  color:red;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
float: left;
background-color: black;
color: white;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.ga {
  color: red;
  text-decoration: underline;
  font-family: 'Source Code Pro', monospace;
}

h2 {
  color: black;
  font-family: 'Source Code Pro', monospace;
  font-size: 50px;
}

.bl {
  border-left: 1px solid red;
  height: 250px;
  position: absolute;
  left: 20%;
}